<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>List laptop</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<div class="row">
			<h1>List laptop</h1>
		</div>
        <form class="form-inline" action="/laptop/search" method="GET">
            <div class="form-group">
              <label for="search-input" class="sr-only">Search</label>
              <input type="text" class="form-control" id="search-input" name="keyword" placeholder="Enter keyword">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Date</th>
					<th>Brand</th>
					<th>Sold</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="laptop: ${laptops}">
					<td th:text="${laptop.id}"></td>
					<td th:text="${laptop.name}"></td>
					<td th:text="${laptop.date}"></td>
                    <td th:text="${laptop.brand}"></td>
					<td><input type="checkbox" th:checked="${laptop.sold}" /></td>
					<td><a th:href="@{laptop/{id}(id=${laptop.id})}" class="btn btn-success">View</a>
						<a th:href="@{/laptop/del/{id}(id=${laptop.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{laptop/{id}(id = -1)}" class="btn btn-success col-lg-12">New laptop</a>
	</div>
</body>

</html>